.link_page {
  margin: 20px;
  text-align: left;
}

h1 {
  display: block;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}

h3 {
  font-size: 1.25em;
  text-align: left;
}

p {
  text-align: left;
}

.container-pg {
  font-size: 16px;
  text-align: center;
}
